.grid-list{
    padding:5px 0;
    .grid-img{
        width: 80px;
        height:80px;
        margin-top: 5px;
    }
    .grid-text{
        margin-top: 8px;
        color:#999;
        font-size: 14px;
        text-shadow: 0px 0px 1px rgba(49, 208, 230, 0.9);
    }
}