
.tab-box{
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    background-color: #fff;
    z-index: 100;
   
    .tab-item{
        position: relative;
        flex-direction: row;
        width: 100%;
        padding:7px 0 3px;
        text-align: center;
        background: #fff;
        font-size: 14px;
        color:#ccc;
        a,a>span{
            display: block;
            font-size: 12px;
            color:#ccc;
            width: 100%;
        }
        a > span{
            margin-top: 6px;
        }
        .tab-icon{
            display: block;
            margin: 0 auto;
            width: 30px;
            height: 30px;
        }
        .icon-money{
            background: url('./img/icon-union.png') center  center/contain no-repeat;
        }
        .icon-wechat{
            background: url('./img/icon-wechat.png') center  center/contain no-repeat;
        }
        .icon-gr{
            background: url('./img/icon-zhanghutixian.png') center  center/contain no-repeat;
        }
        .icon-bank{
            background: url('./img/icon-bank.png') center  center/contain no-repeat;
        }
    }
    .tab-item.active{
        span{
            color: #222;
        }
    }
}
.tab-box:before{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 1px;
    z-index: 101;
    background-color: #ddd;
    content: '',
    
}